<a href="https://colab.research.google.com/github/19PA1A04B1/10-03-2020/blob/master/question_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [63]:
# Import the required packages
import pandas as pd # for handling data in the form of tables
import numpy as np # For handling matrix
from sklearn.model_selection import train_test_split # For spliting the data into train and test
from sklearn.tree import DecisionTreeClassifier # for using the model
from sklearn import metrics
import matplotlib.pyplot as plt # for plotting

In [64]:
a=pd.read_csv("students_placement_data.csv")
a

     Roll No Gender  ... registered_for_ Placement_Training  placement status
0          1      M  ...                                 NO        Not placed
1          2      F  ...                                yes            Placed
2          3      F  ...                                yes        Not placed
3          4      M  ...                                yes        Not placed
4          5      M  ...                                yes        Not placed
..       ...    ...  ...                                ...               ...
112      113      M  ...                                 NO        Not placed
113      114      M  ...                                 NO        Not placed
114      115      M  ...                                 NO        Not placed
115      116      M  ...                                 NO        Not placed
116      117      M  ...                                 NO        Not placed

[117 rows x 9 columns]

In [65]:
a['Gender']=a["Gender"].map({'M':0,'F':1})
a['Section']=a["Section"].map({'A':0,'B':1})
a['registered_for_ Placement_Training']=a["registered_for_ Placement_Training"].map({'NO':0,'yes':1})

In [66]:
a.head()

   Roll No  Gender  ...  registered_for_ Placement_Training  placement status
0        1       0  ...                                   0        Not placed
1        2       1  ...                                   1            Placed
2        3       1  ...                                   1        Not placed
3        4       0  ...                                   1        Not placed
4        5       0  ...                                   1        Not placed

[5 rows x 9 columns]

In [67]:
X=a[["Gender",	"Section",	"SSC Percentage","inter_Diploma_percentage",	"B.Tech_percentage",	"Backlogs","registered_for_ Placement_Training"]].values
Y=a[["placement status"]].values

In [68]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=0)

In [69]:
model=DecisionTreeClassifier()
model=model.fit(X_train,Y_train)

In [72]:
y_predict=model.predict(X_test)
y_predict

array(['Placed', 'Placed', 'Not placed', 'Placed', 'Not placed',
       'Not placed', 'Not placed', 'Not placed', 'Not placed',
       'Not placed', 'Placed', 'Not placed', 'Placed', 'Not placed',
       'Not placed', 'Not placed', 'Not placed', 'Not placed', 'Placed',
       'Not placed', 'Placed', 'Not placed', 'Placed', 'Placed'],
      dtype=object)

In [78]:
Actual=pd.DataFrame({'Predicted':y_predict.flatten(),'Actual':Y_test.flatten()})
Actual

     Predicted      Actual
0       Placed      Placed
1       Placed      Placed
2   Not placed  Not placed
3       Placed  Not placed
4   Not placed  Not placed
5   Not placed  Not placed
6   Not placed  Not placed
7   Not placed  Not placed
8   Not placed  Not placed
9   Not placed      Placed
10      Placed      Placed
11  Not placed  Not placed
12      Placed      Placed
13  Not placed  Not placed
14  Not placed  Not placed
15  Not placed  Not placed
16  Not placed  Not placed
17  Not placed  Not placed
18      Placed      Placed
19  Not placed      Placed
20      Placed  Not placed
21  Not placed  Not placed
22      Placed      Placed
23      Placed  Not placed

In [81]:
pd.DataFrame(metrics.confusion_matrix(Y_test,y_predict),columns=['Notplaced','placed'],index=['Notplaced','placed'])

           Notplaced  placed
Notplaced         13       3
placed             2       6

In [84]:
metrics.f1_score(Y_test,y_predict,pos_label='Placed')

0.7058823529411765